.final-block {
  padding: 25px 20px 0;
  width: 600px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}